:root {
  --color-main-bg: hsl(217, 54%, 11%);
  --color-card-bg: hsl(216, 50%, 16%);
  --color-white: hsl(0, 0%, 100%);
  --color-font: hsl(215, 51%, 70%);
  --color-cyan: hsl(178, 100%, 50%);
  --color-line: hsl(215, 32%, 27%);
}
